* {
  margin-top: 0;
  padding: 0;
}

.home-section {
    margin-left: 250px;
    /* margin-right: 214px; */
}


#navigation-header {
    border-bottom: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;  
    margin-right: 214px;
    /* position: fixed;   */
    /* justify-content: space-between; */
}

#main-logo {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    /* line-height: 32px; */
    width: 116px;
    margin-top: 130px; /*default = 14px*/
}

#logo {
    margin-right: 327px;
    /* display: inline-block */
}


.nav-buttons {
    width: 460px;
    height: 16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 44px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    
}

p.black-text {
    margin-top: 100px;
}

.nav-button {
    margin-right: 36px;
    
    /* padding: 0; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-basis: 100%;
}

.try-btn-box {
    height: auto;
    width: auto;
    text-align: center;
    margin-top: 92px;
    margin-left: 56px;
    
}

.try-button {
/*     display: flex;
    flex-basis: content; */
    background-color: #2500f9;
    border: none;
    display:block;
    height: 57px;
    width: 170px;
    margin-right: 215px;
    
    border-radius: 999px
    
}

.try-btn-text {
    color: white;
    /* height: 18px; */
    font-family: "Poppins";
    font-size: 17px;
    font-weight: bold;
}
/* 
.last-el {
    margin-right: 56px;
} */

.black-text {
    color: black;
    white-space: nowrap;
}

#orange-text {
    color: orange;
}

.acheivements {
    margin-left: 30px; /*285-215*/
    margin-top: 230px;
}

.editors-choice {
    font-family: "Poppins";
    background-color: #e2eaed;
    width: 363px;
    height: 36px;
    display: flex;
    border-radius: 999px;
}

.editors-choice-text {
    margin-top: .3em;
}

.centered {
    transform: translate(50%,);
    align-items: center;
    justify-content: center;
}

.best-app-for-lifestyle {
    font-family: "Poppins";
    font-style: bold;
}



/* .checkmark {
    
} */
